body{
    background-image: url(/img/doctorderecha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.container{
    margin-left: 670px;
}


.formulario1{
    max-width: 45rem;
    padding: 1.3rem;
    margin-top: 50px;
    background-color: rgba(9, 9, 9, 0.455);
    font-weight: bold;
    border-radius: 2rem;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}


.row{
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.menup{
background-color: aqua;
padding-bottom: 13px;
padding-top: 5px;
text-align: center;
color:
rgb(31, 31, 77);
}

.col1{
height:1px ;
display: flex;
justify-content: flex-end
}

button{
margin: 5px;
margin-right: 20px;
background-color:
rgb(31, 31, 77);
position: relative;
bottom: 59px;
}

.mod{
    margin-left:25rem ;
    position: relative;
    top: 0.89rem;
}
.contenedor3{
    margin-top: 4rem;
   display: flex;
   margin-left: 12rem;
  }

.principal{
    background-color:
    rgb(31, 31, 77);
    position: relative;
    right: 80px;
    top: 20px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:50px ;
    margin-right: 130px;
    max-width: 490px;
}



.centro{
    text-align: center;
    margin: 9px;
    margin-left: 10px;
    padding-left: 100px;
    margin-right:10px;
    padding-right: 100px;
    padding-top: 30px;
    background-color:
     aqua;
    border-radius: 15px;
    font-weight: bold;
}



footer{
    padding-bottom: 85px;
    height: 115px;
    top: 38px;
    margin-top: 30px;
    position: relative;
    background-color:
    rgb(31, 31, 77);
}

footer h3{
    text-align: center;
    color: bisque;

}

footer a{
    color: red;
}



