{% load static %}
<footer class=>
    <div class="contenedor pt-1">
        <div class="col pb-3">
                <div class="closet d-flex justify-content-center">
                    <h3 class="fs-6 pt-3 m-3">
                        Cuidarte Salud Humana.&copy;
                        Todos Los Derechos Reservados 2022
                    </h3>
                    <h2 class="text-center m-4 fs-5">
                        <a href="https://es-la.facebook.com/cuidarte.saludhumana "
                        target="_blank"><i   class="bi bi-facebook "></i></>
                        <a href="https://mobile.twitter.com/CuidartesaludH" 
                        target="_blank"><i   class="bi bi-twitter "></i></a>
                        <a href="https://z-p15.www.instagram.com/humana.cuidartesalud/"
                        target="_blank"><i   class="bi bi-instagram" ></i></a>
                    </h2>
                </div>
        </div>
    </div>
</footer>    