
  
{% load static %}
<header>
  <div class="row">
      <div class="logo"><img src="/static/img/logoRecortado.jpeg" alt=
      "Logo Cuidarte Salud Humana"width="140px" height="100"></div>
      <h4><a  href="https://www.google.com/maps/place/4%C2%B041'22.2%22N+74%C2%B006'28.
      0%22W/@4.689488,-74.1099789,912m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0xa686d3678db5a700!8m2!3d4.
      689488!4d-74.1077902"target="_blank">Encuéntranos</a></h4>
      <style type="text/css">
        a{text-decoration:none;
          color:bisque;
        }
      </style>
      <h5><a href="mailto:www.cuidarte.salud.humana@gmail.com?subject=Contacto&body=email"> Escríbenos</a></h5>
    </div>
      </div>
      </div>
</header>