{% load static %}
 {% block contenido %}
 <section class="Barra">
    <style>
    .Barra {
        position: relative;
        bottom:100px
    }
</style>
<nav>
    <div class="menup"></div><div class="col1">
    <a href="{% url 'login'%}"><h3 title="Iniciar Sesión"><button type="button"class="btn btn-primary">
    <img src="{% static 'img/inicio1.png' %}" alt=""width="84px" height="36px"class="mx-2">
    </i></a></button></h3></a>
    </div>
</nav>
</section>
{% endblock contenido %} 
    




