{% extends 'partials/body2.html' %} 
{% load static %} 

{% block contenido %}
<a href="{% url 'menuP'%}"><button type="button" class="btn btn-primary">Atras</button></a>
<style type="text/css">
    body{
        background-image: url("{% static 'img/enfermera3.jpg' %}");
    }
a{text-decoration: none;
color: black;}
</style>
    <div class="row2"><style>
        .row2 {
        position: relative;
        
        }
        </style>
        <div class="col3">
            <div class="principal fs-5">
                <div class="centro"><a href="{% url 'p-crear'%}"><p class="A">Paciente Nuevo</p></a></div>
                <div class="centro "><a href="#"><p class="A">Buscar Pacientes</p></a></div>
                <div class="centro"><a href="{% url 'p-listar'%}"><p class="A">Listar Pacientes</p></a></div>
                <div class="centro"><a href="{% url 'p-modificar'%}"><p class="A">Modificar Pacientes</p></a></div>
                <style>
                    .A {
                    position:relative;
                    bottom:15px;
                    font-size:20px;
                    }
                </style>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
    