{% extends 'partials/body2.html' %} 
{% load static %} 

{% block contenido %}
<div class="container">
    <div class="row1 pt-1 pb-1">
        <div class="col3 pt-1 pb-1">
            <div class="principal fs-5">
                <div class="centro"><a href="{% url 'p-crear'%}">Paciente Nuevo</a></div>
                <div class="centro "><a href="">Buscar Pacientes</a></div>
                <div class="centro"><a href="{% url 'p-listar'%}">Listar Pacientes</a></div>
                <div class="centro"><a href="{% url 'p-modificar'%}">Modificar Pacientes</a></div>
                <style type="text/css">
                a{text-decoration: none;
                color: black;}
                </style>
            </div>p-listar
        </div>
    </div>
</div>
{% endblock contenido %}
    