{% extends 'partials/body3.html' %}
{% load static %}
{% block contenido %}
<div class="black"><style>
    .black{
        padding-bottom:2.5rem;
    
    }
</style>
    <div class="container1">
        <input type="text fs-1" placeholder=" Número de documento">
        <div class="btn">
            <i class="fa fa-search"></i>
            <div class="row6">
                <p><img src="{% static 'img/buscardocu.ico' %}" alt=""></p>
            </div>
        </div>
    </div>
</div><style>
    body{
        background-image: url("{% static 'img/senipetrobuscar3.jpg' %}");
    }
</style>
{% endblock contenido %}
