{% extends 'partials/body3.html' %}
{% load static %}
{% block contenido %}
<a href="{% url 'historiaClinica'%}"><button type="button" class="btn btn-primary">Atras</button></a>
<div class="black"><style>
    .black{
        padding-bottom:2.5rem;
    }
</style>
<div class="container1"><style>
    .container1{
        margin-bottom:5rem;
        padding-left: 40px;
        padding-right: 30px
    }
  </style>
    <input type="text" placeholder="Número de documento">
        <div class="btn">
        <i class="fa fa-search"></i>
        <div class="row6">
    <p><img src="{% static 'img/buscardocu.ico' %}" alt="buscar"></p>
</div>
    </div>
</div>
<style>
    body {
    background-image: url("{% static 'img/doctorizq.jpg' %}");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    }
  </style>
{% endblock contenido %}
