{% extends 'partials/body2.html' %}
{% load static %}
    {% block contenido %}
    <div class="container px-5 pb-2 pt-4"><style>
        body{
        background-image: url("{% static 'img/corazonMorado.jpg' %}");
        }
    </style>
        <div class="row1 pt-1 pb-1">
            <div class="col3">
                
                <div class="principal"><style>
                    .principal {
                    position:relative;
                    right:43rem;
                    }
                </style>
                    <div class="centro"><a href="{% url 'historiaClinica' %}"><p class="L">Historia Clínica</p></a></div>
                    <div class="centro "><a href=""><p class="L">Usuarios</p></a></div>
                    <div class="centro "><a href=""><p class="L">Informes</p></a></div>
                    <div class="centro"><a href=""><p class="L">Pacientes</p></a></div>
                    <div class="centro"><a href=""><p class="L">Médicos</p></a></div>
                    <style>
                        .L {
                        position:relative;
                        bottom:15px;
                        font-size:16px;
                        color:black;
                        }
                    </style>
                
            </div>
        </div>
    </div>
    </div>
    {% endblock contenido %}